## Database Implementation and Data Querying

We have three csv files for our dataset. The main one that we work on it is "flights.csv" which has different information about the flights in USA. Also we have "airports.csv" which has the information of the airports that appeared in flights dataset. At the end, we have "airlines.csv" which has the information about the airlines that appeared in flights dataset. Now we want to make our database for these datasets in MySQL. First, we will create the tables with showing proper ralations between them by setting primary keys and foreign keys correctly. The sql code for creating the tables is in "create_tables.sql". Below is the images of the tables:

Below is the picture of airlines table which has unique airline_id (for defining foreign key later) and also the iata_code for different airlines.

![Image description](screenshots/Screenshot%20from%202025-04-29%2008-29-52.png)

Also below is the picture of airports table which has different airports' iata_code along with the airport name and other information about that airport.

![Image description](screenshots/Screenshot%20from%202025-04-29%2008-30-09.png)

At last, below is the picture of flights table that has different information about flights. The iata codes for origin airport and destination airport arre present in airports table so we can join them based on this attribute later in queries. Also the iata codes for airlines are present in airline table. Also the table has foreign keys that one of them references to airlines_id and the other refrences to airports_id.

![Image description](screenshots/Screenshot%20from%202025-04-29%2008-30-26.png)

Now we want to write some queries on these table to get some information from our data. Below query shows the number of flights from each airline:

![Image description](screenshots/Screenshot%20from%202025-04-29%2008-49-36.png)

![Image description](screenshots/Screenshot%20from%202025-04-29%2008-49-45.png)

Below query shows the average departure delay for each airline:

![Image description](screenshots/Screenshot%20from%202025-04-29%2008-51-31.png)

![Image description](screenshots/Screenshot%20from%202025-04-29%2008-51-38.png)

Below query shows the number of cancelled flights per airline:

![Image description](screenshots/Screenshot%20from%202025-04-30%2014-21-39.png)

![Image description](screenshots/Screenshot%20from%202025-04-30%2014-21-55.png)

Below query shows the average fly time between two specific airports:

![Image description](screenshots/Screenshot%20from%202025-04-30%2014-25-02.png)

![Image description](screenshots/Screenshot%20from%202025-04-30%2014-25-15.png)

Below query shows the different information about the origin and the destination airport by joining the flights table and airports table:

![Image description](screenshots/Screenshot%20from%202025-04-30%2014-28-46.png)

![Image description](screenshots/Screenshot%20from%202025-04-30%2014-29-05.png)

For the final query, it shows the complete airline name of each flight by joining the flights table and airlines table:

![Image description](screenshots/Screenshot%20from%202025-04-30%2014-31-56.png)

![Image description](screenshots/Screenshot%20from%202025-04-30%2014-32-03.png)